
.hero {
    max-width: 1024px;
    padding: 2rem;
    text-align: justify;
    margin: 1rem;
   
    &__description {
        // font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2.5rem;
        max-width: 768px;

        &--detail {
            color: $shuttle-grey;
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 2.25rem;
        }
    }
    &__photo {
        border-radius: 40px;
        height: 150px;
        width: 150px;
    }
}
