.skills {
    max-width: 1024px;
    padding: 2rem;
    margin: 0 auto;
    &__header {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.25rem;
        &::before {
            content: '';
            background: $green;
            display: block;
            border-radius: .5rem;
            height: 4px;
            width: 80px;
            margin-bottom: 1.5rem;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-columns: repeat(auto-fill, minimax(200px, 1fr));
        padding: 1.5rem 0;
        &--green {
            list-style-image: url('https://bartoszlewosz.github.io/assets/img/bullet_green.svg');
        }
        &--blue {
            list-style-image: url('https://bartoszlewosz.github.io/assets/img/bullet_blue.svg');
        }
        &--violet {
            list-style-image: url('https://bartoszlewosz.github.io/assets/img/bullet_violet.svg');
        }
    }
    &__title {
        font-size: 2.5rem;
        margin: 0;
        padding: 1rem 0;
        border-bottom: 2px solid $grey;
        text-align: center;
    }
    &__sections {
        margin: .5rem 0 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
}