.skills {
    max-width: 1024px;
    padding: 2rem;
    margin: 0 auto;
    &__header {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.25rem;
        @media (max-width: $mobile) {
            margin: 1rem;
        }
        &::before {
            content: '';
            background: $green;
            display: block;
            border-radius: .5rem;
            height: 4px;
            width: 80px;
            margin-bottom: 1.5rem;
            .skills__header--green & {
                background: $light-green;
            }
            .skills__header--blue & {
                background: $blue;
            }
            .skills__header--violet & {
                background: $violet;
            }
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(178px, 1fr));
        padding: 0;
        margin-top: calc(1.5rem + 4px);
        column-gap: 1.5rem;
        list-style-type: none;
    }
    &__item {
        padding: 12px 0 12px 22px;
        position: relative;
        min-height: 2.5rem;
        &::before {
            background: url('../assets/img/bullet_green.svg');
            content: '';
            display: block;
            position: absolute;
            top: 12px;
            left: 0;
            height: 18px;
            width: 18px;
            .skills__list--violet & {
                background: url('../assets/img/bullet_violet.svg')
            }
            .skills__list--blue & {
                background: url('../assets/img/bullet_blue.svg')
            }
        }
    }
    &__title {
        font-size: 2.5rem;
        margin: 0;
        padding: 1rem 0;
        border-bottom: 2px solid $grey;
        text-align: center;
    }
    &__sections {
        margin: .5rem 0 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            margin: .5rem 0;
        }
    }
}